:root {
  --cero-color: #eaeaea;
  --primary-color: #b11b24;
  --secondary-color: #232323;
  --third-color: #505050;
  --nav-color: #fff;
  --footer-bg-color: #eaeaea;
}
* {
  font-family: "Outfit", sans-serif;
}
/* keyframes */
@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 6px;
  }
}
.slide-in-left {
  -webkit-animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.25s both;
  animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right {
  -webkit-animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.5s both;
  animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/* small divider line */
.small-divider-line {
  display: block;
  width: 100px;
  height: 3px;
  background-color: var(--primary-color);
  margin: auto;
}
/* back to top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 99;
  outline: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
  border-radius: 50px;
  font-size: 18px;
  width: 50px;
  height: 50px;
}
#myBtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#myBtn i {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.primary-cta {
  background-color: var(--primary-color);
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 30px 0px;
}
.primary-cta:hover {
  color: #fff;
  animation: MoveUpDown 0.8s ease-in-out infinite;
  position: relative;
  left: 0;
  bottom: 0;
}
/* navbar */
.top-navbar {
  background-color: var(--nav-color);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.top-navbar .navbar-brand {
  width: 240px;
}
.top-navbar .nav-item {
  color: var(--primary-color);
  display: inline-flex;
  align-items: center;
  padding: 10px 24px;
}
.top-navbar .nav-item a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
  margin: 0 0 0 10px;
}
/* media queries */
@media screen and (max-width: 991.98px) {
  .navbar-collapse {
    margin-top: 30px;
  }
  .top-navbar .nav-item {
    padding: 10px 0;
  }
  #hero h1,
  #hero p {
    text-align: center;
  }
  .hero-1 {
    padding-top: 80px;
    align-items: center !important;
  }
  #hero img {
    width: 300px !important;
  }
  .hero-2 {
    text-align: center;
  }
  #services .card-text {
    font-size: 18px !important;
  }
  #clients h3 {
    font-size: 18px !important;
    color: #000;
  }
  .footer-menu {
    margin: 30px 0 0 0;
  }
  .slick-slide img {
    width: 120px;
  }
  #banner {
    text-align: center;
  }
}
/* hero */
#hero {
  padding: 100px 30px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 80%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../images/background.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
#hero h1 {
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}
#hero p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.hero-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.hero-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#hero img {
  width: 450px;
}
/* banner */
#banner {
  background-color: #fff;
  padding: 30px 0;
}
.banner-contact {
  border-top: 2px solid #ccc;
}
#banner h3 {
  color: #000;
  font-size: 24px;
  margin: 30px 0 0 0;
  font-weight: bold;
}
#banner h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 30px 0;
}
#banner p {
  font-size: 24px;
  color: #000;
  margin: 30px 0;
}
.telephone {
  background-color: #b11b24;
  padding: 10px 14px;
  display: inline-block;
  margin: 14px 14px 0 14px;
  text-decoration: none;
  color: #fff;
}
.telephone:hover {
  color: #fff;
  cursor: pointer;
}
/* services */
#services {
  padding: 72px 30px 72px 30px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 80%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#services .card img {
  height: 500px;
  object-fit: cover;
}
#services .card-body {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 200px;
  color: #fff;
}
#services .card-title {
  font-size: 36px;
  font-weight: 700;
}
#services .card-text {
  font-size: 24px;
}
/* clients */
#clients {
  padding: 72px 0 72px 0;
}
#clients h3 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 72px;
}
#clients h3 span {
  color: #000 !important;
  background-color: var(--cero-color);
  padding: 10px 14px;
}
#clients h3:before,
#clients h3:after {
  background-color: var(--primary-color);
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 8%;
}
#clients h3:before {
  right: 0.5em;
  margin-left: -50%;
}
#clients h3:after {
  left: 0.5em;
  margin-right: -50%;
}
.slick-initialized .slick-slide {
  margin: 0 18px;
}
.slick-slide img {
  width: 200px;
}
/* gallery responsive con fancybox */
#gallery {
  background-color: #2a2c32;
  padding: 80px 0 0 0;
}
#gallery h2 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 18px;
  text-align: center;
}
#gallery h3 {
  margin-bottom: 72px;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  color: #fff;
}
.item {
  transition: 0.5s ease-in-out;
}
.item:hover {
  filter: brightness(80%);
}
.item {
  padding: 0px 0px !important;
}
/* contact */
.form-container {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 80%,
      rgba(255, 255, 255, 0.9) 100%
    ),
    url(../images/image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 144px 0 72px 0;
}
.form-container h2 {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
}
.form-container form {
  width: 90%;
}
.form-container form .field {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255, 0.85);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 4px 0px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s;
  color: #000;
}
.form-container form .field:hover {
  background-color: rgb(255, 255, 255, 1);
}
.form-container .radio-inputs {
  padding: 20px 0;
}
.form-container .radio-inputs input[type="radio"] {
  height: 18px;
  width: 18px;
  margin: 0 14px 0 0;
}
.form-container .radio-inputs label {
  font-size: 24px;
  color: #505050;
  margin: 0 14px 0 0;
}
.form-container textarea {
  min-height: 150px;
  resize: none;
}
.form-container form input[type="submit"] {
  color: #fff;
  font-weight: 700;
  width: 100%;
  height: 50px;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 12px;
}
/* footer */
.footer-section {
  background: #fff;
}
.footer-cta {
  background-color: #b11b24;
  padding: 30px 0 30px 0;
}
.single-cta svg {
  display: block;
  margin: 30px auto 30px auto;
  color: #fff;
}
.cta-text h4 {
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.cta-text p {
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.footer-content {
  padding: 30px 30px;
}
.footer-logo {
  max-width: 200px;
  margin-bottom: 30px;
}
.footer-text {
  font-size: 18px;
  color: #000;
  margin-bottom: 30px;
}
.footer-social-icon {
  padding: 0 0 30px 0;
}
.footer-social-icon span {
  display: block;
  font-size: 30px;
  color: #b11b24;
  margin-bottom: 14px;
}
.footer-social-icon a {
  height: 48px;
  width: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: #fff;
  background-color: #000;
  margin-right: 14px;
  border-radius: 50%;
}
.footer-widget {
  padding: 30px 0;
}
.footer-widget-heading h3 {
  color: #b11b24;
  font-size: 24px;
  margin-bottom: 30px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -14px;
  height: 2px;
  width: 72px;
  background: var(--solid-primary-color);
}
.footer-widget ul {
  padding: 0 0;
}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 14px;
}
.footer-widget ul li a {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}
.footer-widget ul li a:hover {
  color: var(--primary-color);
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 24px;
  background: #f8f8f8;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: var(--primary-color);
  padding: 14px 24px;
  border: 1px solid #b11b24;
  top: 0;
}
.subscribe-form button svg {
  color: #fff;
  font-size: 24px;
}
.copyright-area {
  background: var(--footer-bg-color);
  padding: 30px 0 30px 0;
}
.copyright-area .col {
  display: flex;
  align-items: center;
}
.copyright-text p {
  margin: 0;
  font-size: 18px;
  color: #000;
}
.copyright-text p a {
  color: var(--solid-primary-color);
  text-decoration: none;
}
.footer-menu ul {
  margin: 0 0;
  padding: 0 0;
}
.footer-menu li {
  display: inline-block;
  margin-right: 20px;
}
.footer-menu li a {
  font-size: 18px;
  color: #b11b24;
  text-decoration: none;
}
.footer-menu a:hover {
  color: var(--solid-primary-color);
}

.slick-track {
  margin-left: 0 !important;
}
